/* FONTS */
@font-face {
	font-family: 'Mont-Regular';
	src: url('./fonts/Mont-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Mont-Bold';
	src: url('./fonts/Mont-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Mont-SemiBold';
	src: url('./fonts/Mont-SemiBold.ttf') format('truetype');
}

/* GLOBALS */
.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	font-family: 'Mont-Regular', sans-serif;
}

strong {
	font-family: 'Mont-Bold', sans-serif;
}

.grey-text {
	color: #cdcdcd;
	text-align: center;
}

/* === HEADER === */
.header {
	display: flex;
	padding-top: 10px;
	width: 100%;
	height: 65px;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding-left: 100px;
	padding-right: 75px;
	background: linear-gradient(to right, #229d48, #9fca4a);
}

.menu__list {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
	justify-content: center; /* Элементы меню центрируются */
}

.menu__item:not(:first-child) {
	margin-left: 60px;
}

.menu__item a {
	text-decoration: none;
	color: #fff;
}

.menu__item a:hover {
	text-decoration: underline;
}

.header__btn a {
	text-decoration: none;
	color: #fff;
	padding: 10px 15px;
	background-color: #1c459b;
	border-radius: 25px;
	transition: background-color 0.5s ease;
}

.header__btn a:hover {
	background-color: #183572;
}

/* === BURGER MENU === */
.burger-menu {
	display: none; /* Изначально скрыто */
	cursor: pointer;
	flex-direction: column;
	justify-content: space-around;
	width: 24px; /* Ширина иконки меню */
	height: 24px; /* Высота иконки меню */
}

.burger-menu-lines {
	background-color: #fff; /* Цвет линий */
	height: 2px; /* Толщина линий */
	width: 100%; /* Ширина линий */
}

@media (max-width: 768px) {
	.header {
			position: fixed;
			z-index: 999;
			padding-top: 0;
	}

	.carousel__slide-about_fond__container {
			flex-direction: column;
			justify-content: center;
	}

	.carousel__slide-about_fond-pic {
			display: none;
	}

	.swiper-button__container img {
			display: none;
	}

	.carousel__slide-about_fond-about__btn {
			display: none;
	}

	.carousel__slide-about_fond-opportunities-events {
			margin-top: 40px;
	}

	.burger-menu {
			display: flex;
	}

	.header__btn {
			padding-top: 5px;
	}

	.menu__list {
			display: none;
			position: absolute;
			background-color: #8CC63F;
			width: 100%;
			left: 0;
			top: 65px;
			flex-direction: column;
	}

	.menu__list.active {
			display: flex;
			justify-content: center;
			align-items: center;
	}

	.header__btn {
			position: absolute;
			right: 10px;
			top: 18px;
	}
}

/* === MAIN === */
main {
	display: flex;
	flex-direction: column;
	justify-content: center; 
	align-items: center;
	padding-top: 70px;
}

/* === CAROUSEL === */
.carousel {
	width: 100%;
	max-width: 1200px;
}

.carousel__slide {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.carousel__slide-about_fond {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

.carousel__slide-about_fond__container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.carousel__slide-about_fond-about {
	display: flex;
	flex-direction: column;
}

.carousel__slide-about_fond-about-title {
	font-family: Mont-Bold;
	margin-bottom: 20px;
}

.carousel__slide-about_fond-about-desc {
	margin-top: 15px;
	font-family: Mont-SemiBold;
}

.carousel__slide-about_fond-about img {
	width: 200px;
	height: 50px;
}

.carousel__slide-about_fond-pic img {
	width: 400px;
	height: 300px;
	padding-left: 5px;
}

.carousel__slide-about_fond-opportunities {
	width: 1040px;
}

.carousel__slide-about_fond-opportunities__container {
	display: flex;
	justify-content: space-between;
}

.carousel__slide-about_fond-opportunities-events,
.carousel__slide-about_fond-opportunities-documents,
.carousel__slide-about_fond-opportunities-help {
	padding: 20px 25px;
	color: #fff;
	border-radius: 25px;
}

.carousel__slide-about_fond-opportunities-events {
	background-color: #F7941E;
}

.carousel__slide-about_fond-opportunities-documents {
	background-color: #39B54A;
}

.carousel__slide-about_fond-opportunities-help {
	background-color: #0071BC;
}

.carousel__slide-about_fond-about__btn {
	background-color: #229d48;
	margin-top: 18px;
	width: 99px;
	padding: 10px 15px;
	border-radius: 25px;
	transition: background-color .5s ease;
}

.carousel__slide-about_fond-about__btn:hover {
	background-color: #1c7b3a;
}

.carousel__slide-about_fond-about__btn a {
	text-decoration: none;
	color: #fff;
}

/* === EQUIMPENT */
.carousel__equipment img {
	display: block;
	margin: auto;
}

/* === FAQ ===  */
.carousel__get-help__container {
    display: flex;
    flex-direction: column;
}

.faq-item {
    margin-bottom: 20px;
}

.faq-question {
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.faq-question:hover {
    color: #007bff;
}

.faq-answer {
    display: none;
    padding: 10px;
    background-color: #f8f8f8;
    border-left: 3px solid #007bff;
    margin-top: 5px;
}

.toggle-icon {
    float: right;
}


/* FIXES */
.swiper-button__container {
	position: absolute;
	top: 325px;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 10;
}

.swiper-button-prev,
.swiper-button-next {
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.swiper-button-prev {
	margin-right: auto; /* толкает кнопку влево */
}

.swiper-button-next {
	margin-left: auto; /* толкает кнопку вправо */
}

/* === ADAPTIVE === */
/* @media (max-width: 768px) {
  .carousel__slide-about_fond__container {
    flex-direction: column;
  }
} */

/* Общие изменения для мобильных устройств */
/* @media (max-width: 1104px) {
	.header__container {
		padding-left: 100px;
	}
}



@media (max-width: 950px) {
	.header__container {
		padding-left: 25px;
	}
} */

@media (max-width: 768px) {
	.header__container {
			/* flex-direction: column; */
			align-items: center;
			padding-left: 20px;
			padding-right: 20px;
	}

	.menu__list {
			flex-direction: column;
			align-items: center;
			padding-top: 10px;
	}

	.menu__item:last-child {
		padding-bottom: 10px;
	}

	.menu__item:not(:first-child) {
		
			padding-left: 0;
			padding-top: 10px;
			margin: auto;
	}

	.carousel__slide-about_fond-opportunities__container {
			flex-direction: column;
	}

	.carousel__slide-about_fond-pic img,
	.carousel__slide-about_fond-about img {
			width: 90%;
			height: auto;
			padding: 0;
	}

	.carousel__slide-about_fond-opportunities {
			width: auto;
			padding: 0 20px;
	}

	.carousel__slide-about_fond-about__btn {
			/* width: auto; */
			padding: 8px 10px;
	}

	.carousel__equipment img {
			max-width: 100%;
			height: auto;
	}
}
